<?xml version="1.0" encoding="UTF-8"?>
<!--
   This file is part of Joe's Own Editor for Windows.
   Copyright (c) 2014 John J. Jordan.
 
   Joe's Own Editor for Windows is free software: you can redistribute it
   and/or modify it under the terms of the GNU General Public License as
   published by the Free Software Foundation, either version 2 of the
   License, or (at your option) any later version.
 
   Joe's Own Editor for Windows is distributed in the hope that it will
   be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
   of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with Joe's Own Editor for Windows.  If not, see
   <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include properties.wxi ?>
  
  <Product Id="$(var.ProductGuid)"
     Name="Joe's Own Editor for Windows$(var.BitSuffix)"
     Language="1033"
     Version="$(var.JoeWinVersion)"
     Manufacturer="John J. Jordan"
     UpgradeCode="8bb90de3-e290-47ba-ae29-7cb5642319ae">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
             Keywords="Installer" Description="JOE for Windows $(var.JoeWinDescVersion) Installer$(var.BitSuffix)"
             Id="*"></Package>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <Property Id="INSTALLLEVEL" Value="2" />
    <UIRef Id="WixUI_FeatureTree" />

    <Icon Id="joewinicon.exe" SourceFile="$(var.SrcRootDir)\exe\joewin.ico" />
    <Property Id="ARPPRODUCTICON" Value="joewinicon.exe" />
    <Property Id="ARPURLINFOABOUT" Value="https://joe-editor.sourceforge.io/" />
    <Property Id="ARPHELPLINK" Value="https://joe-editor.sourceforge.io/$(var.JoeWinShortVersion)/man.html" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.WindowsDocDir)\COPYING.rtf" />

    <Feature Id="CompleteFeature" Title="JOE for Windows" Description="The complete JOE for Windows" Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER" Absent="disallow" AllowAdvertise="no" InstallDefault="local">
      <!-- This is here in order to disable "install to run from network" option.  We must have a component in the feature to disable it. -->
      <ComponentRef Id="StartMenuShortcutsDirComponent" />
      <ComponentRef Id="DocShortcutsComponent" />
      
      <Feature Id="CoreFeature" Title="Core components" Description="The main executable and associated files" Level="1" Absent="disallow" AllowAdvertise="no" InstallDefault="local">
        <ComponentRef Id="CoreComponent" />
        <ComponentRef Id="FTypeRCComponent" />
        <ComponentGroupRef Id="SyntaxComponentGroup" />
        <ComponentGroupRef Id="StandardColorsComponentGroup" />
        <ComponentGroupRef Id="DocumentsComponentGroup" />
	<ComponentGroupRef Id="VTComponentGroup" />
      </Feature>

      <!-- Note: I only expand this one to show the user what's under each, doing so for each takes up too much vertical space -->
      <Feature Id="JoeFeature" Title="JOE editor" Description="Standard JOE editor" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand">
        <ComponentRef Id="JoePersonality" />
        <ComponentRef Id="JoeRCComponent" />
        <ComponentRef Id="JoePersonalityShortcut" />
	<ComponentGroupRef Id="joeRegistrationComponentGroup" />

	<Feature Id="JoeOpenWithFeature" Title="Add to &quot;Open With&quot; menu for supported files" Level="1" AllowAdvertise="no" InstallDefault="local">
	  <ComponentGroupRef Id="joeOpenWithComponentGroup"/>
	</Feature>
	<Feature Id="JoeEditWithFeature" Title="&quot;Edit with joe&quot; shell context menu for all files" Level="1001" AllowAdvertise="no" InstallDefault="local">
	  <ComponentGroupRef Id="joeEditMenuComponentGroup"/>
	</Feature>
      </Feature>

      <Feature Id="JStarFeature" Title="JSTAR editor" Description="JOE's WordStar emulation personality" Level="5" AllowAdvertise="no" InstallDefault="local">
        <ComponentRef Id="JStarPersonality" />
        <ComponentRef Id="JStarRCComponent" />
        <ComponentRef Id="JStarPersonalityShortcut" />
	<ComponentGroupRef Id="jstarRegistrationComponentGroup" />

	<Feature Id="JStarOpenWithFeature" Title="Add to &quot;Open With&quot; menu for supported files" Level="5" AllowAdvertise="no" InstallDefault="local">
	  <ComponentGroupRef Id="jstarOpenWithComponentGroup"/>
	</Feature>
	<Feature Id="JStarEditWithFeature" Title="&quot;Edit with jstar&quot; shell context menu for all files" Level="1001" AllowAdvertise="no" InstallDefault="local">
	  <ComponentGroupRef Id="jstarEditMenuComponentGroup"/>
	</Feature>
      </Feature>

      <Feature Id="JMacsFeature" Title="JMACS editor" Description="JOE's Emacs emulation personality" Level="5" AllowAdvertise="no" InstallDefault="local">
        <ComponentRef Id="JMacsPersonality" />
        <ComponentRef Id="JMacsRCComponent" />
        <ComponentRef Id="JMacsPersonalityShortcut" />
	<ComponentGroupRef Id="jmacsRegistrationComponentGroup" />

	<Feature Id="JMacsOpenWithFeature" Title="Add to &quot;Open With&quot; menu for supported files" Level="5" AllowAdvertise="no" InstallDefault="local">
	  <ComponentGroupRef Id="jmacsOpenWithComponentGroup"/>
	</Feature>
	<Feature Id="JMacsEditWithFeature" Title="&quot;Edit with jmacs&quot; shell context menu for all files" Level="1001" AllowAdvertise="no" InstallDefault="local">
	  <ComponentGroupRef Id="jmacsEditMenuComponentGroup"/>
	</Feature>
      </Feature>
      
      <Feature Id="JPicoFeature" Title="JPICO editor" Description="JOE's Pico emulation personality" Level="5" AllowAdvertise="no" InstallDefault="local">
        <ComponentRef Id="JPicoPersonality" />
        <ComponentRef Id="JPicoPersonalityShortcut" />
        <ComponentRef Id="JPicoRCComponent" />
	<ComponentGroupRef Id="jpicoRegistrationComponentGroup" />

	<Feature Id="JPicoOpenWithFeature" Title="Add to &quot;Open With&quot; menu for supported files" Level="5" AllowAdvertise="no" InstallDefault="local">
	  <ComponentGroupRef Id="jpicoOpenWithComponentGroup"/>
	</Feature>
	<Feature Id="JPicoEditWithFeature" Title="&quot;Edit with jpico&quot; shell context menu for all files" Level="1001" AllowAdvertise="no" InstallDefault="local">
	  <ComponentGroupRef Id="jpicoEditMenuComponentGroup"/>
	</Feature>
      </Feature>
      
      <Feature Id="TranslationsFeature" Title="Translations" Description="Install translation files for German, Traditional Chinese, Russian, Ukrainian, and French" Level="3" AllowAdvertise="no" InstallDefault="local">
	<ComponentGroupRef Id="TranslationsComponentGroup" />
	<ComponentGroupRef Id="RegionalConfFilesComponentGroup" />
      </Feature>

      <Feature Id="ExtendedColorsFeature" Title="Extra color schemes" Description="Install all available color schemes, beyond what is available in the base distribution." Level="2" AllowAdvertise="no" InstallDefault="local">
        <ComponentGroupRef Id="ExtendedColorsComponentGroup" />
      </Feature>

      <Feature Id="AddToPathFeature" Title="Add to PATH" Description="Adds the installation folder to your PATH environment variable" Level="2" AllowAdvertise="no" InstallDefault="local">
	<ComponentGroupRef Id="AddToPathComponentGroup" />
      </Feature>
    </Feature>
  </Product>
</Wix>
