<?xml version="1.0" encoding="UTF-8"?>
<!--
   This file is part of Joe's Own Editor for Windows.
   Copyright (c) 2014 John J. Jordan.
 
   Joe's Own Editor for Windows is free software: you can redistribute it
   and/or modify it under the terms of the GNU General Public License as
   published by the Free Software Foundation, either version 2 of the
   License, or (at your option) any later version.
 
   Joe's Own Editor for Windows is distributed in the hope that it will
   be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
   of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with Joe's Own Editor for Windows.  If not, see
   <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include properties.wxi ?>

  <!-- Incomplete: see below -->
  <?define SYNTAXES_1 = "ada;ant;asm;avr;awk;batch;c;clojure;cobol;coffee;conf;context;csh;csharp;css;d;debian;diff;dockerfile;elixir;erb" ?>
  <?define SYNTAXES_2 = "erlang;filename;fortran;go;groovy;haml;haskell;html;htmlerb;ini;iptables;java;js;jcf;joerc;jsf;json;lisp;lua;m4" ?>
  <?define SYNTAXES_3 = "mail;mason;matlab;md;ocaml;pascal;perl;php;powershell;prolog;properties;ps;puppet;python;r;rexx;ruby;rust;scala" ?>
  <?define SYNTAXES_4 = "sed;sh;sieve;skill;sml;spec;sql;swift;tcl;tex;troff;typescript;verilog;vhdl;whitespace;xml;yaml" ?>
  <?define SYNTAXES = "$(var.SYNTAXES_1);$(var.SYNTAXES_2);$(var.SYNTAXES_3);$(var.SYNTAXES_4)" ?>
  
  <Fragment>
    <ComponentGroup Id="SyntaxComponentGroup" Directory="SYNTAXFOLDER">
      <?foreach SYNTAX in $(var.SYNTAXES) ?>
        <Component Id="$(var.SYNTAX)JSFComponent" Guid="*" Win64="$(var.Win64)">
	  <File Id="$(var.SYNTAX)JSF" Name="$(var.SYNTAX).jsf" DiskId="1" Source="$(var.SyntaxRootDir)\$(var.SYNTAX).jsf" KeyPath="yes" />
        </Component>
      <?endforeach ?>
      
      <!-- NOTE: Using the filenames for these would result in invalid ID's, so they're defined explicitly: -->
      <Component Id="FourglJSFComponent" Guid="*" Win64="$(var.Win64)">
        <File Id="FourglJSF" Name="4gl.jsf" DiskId="1" Source="$(var.SyntaxRootDir)\4gl.jsf" KeyPath="yes" />
      </Component>
      <Component Id="commenttodoJSFComponent" Guid="*" Win64="$(var.Win64)">
        <File Id="commenttodoJSF" Name="comment_todo.jsf" DiskId="1" Source="$(var.SyntaxRootDir)\comment_todo.jsf" KeyPath="yes" />
      </Component>
      <Component Id="gitcommitJSFComponent" Guid="*" Win64="$(var.Win64)">
	<File Id="gitcommitJSF" Name="git-commit.jsf" DiskId="1" Source="$(var.SyntaxRootDir)\git-commit.jsf" KeyPath="yes" />
      </Component>
      <Component Id="jsfcheckJSFComponent" Guid="*" Win64="$(var.Win64)">
        <File Id="jsfcheckJSF" Name="jsf_check.jsf" DiskId="1" Source="$(var.SyntaxRootDir)\jsf_check.jsf" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
